.members-section {
  background-color: var(--background-main2);
  height: var(--subPages-hight);
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
}

@media screen and (max-width: 450px) {
  .members-section {
    height: 100%;
    width: 100%;
  }
}
