.account-holder-section {
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
}

.account-holder-container {
  display: flex;
  height: 60vh;
  width: 80vw;
}

.account-holder-buttons {
  justify-content: center;
  flex-direction: column;
  align-items: end;
  display: flex;
  width: 100%;
  gap: 2rem;
}

.account-deactivate,
.account-update {
  width: 11rem;
}

.account-deactivate {
  background-color: var(--background-red);
}

@media screen and (max-width: 450px) {
  .account-holder-container {
    flex-direction: column;
    display: flex;
    height: 100%;
    width: 100%;
  }

  .account-holder-buttons {
    align-items: center;
    height: 20vh;
    width: 100%;
  }
}
