.account-holder-form {
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  display: flex;
  height: 60vh;
  width: 60vw;
}

.holder-form-wrapper {
  align-items: flex-start;
  display: flex;
  gap: 3rem;
}

.holder-form-image {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  height: 20rem;
  width: 15rem;
}

.holder-form-address {
  flex-direction: column;
  display: flex;
  width: 30%;
}

.holder-form-details {
  flex-direction: column;
  display: flex;
  width: 30%;
}

.holder-form-accounts {
  justify-content: center;
  flex-direction: column;
  display: flex;
  width: 30%;
}
