:root {
  /* Website Backgrounds */
  --background-secondary1: #cee3de;
  --background-secondary2: #b6d6cb;
  --background-secondary3: #83a7a3;
  --background-secondary4: #52757f;
  --background-secondary5: #4867f2;

  --background-main1: #ffffff;
  --background-main2: #f8f8f8;
  --background-main3: rgb(240, 237, 237);
  --background-main4: #c2c2c5;
  --background-main5: #282725;

  --background-deactivated: #d32d0c;
  --background-modal: rgba(40, 39, 37, 0.5);

  /*Buttons Background*/
  --background-green: #a0cfa6;
  --background-red: #e7a89c;
  --background-blue: #a3afe1;
  --rs-navs-selected: #282725;

  /* Font Color */
  --color-font-text: #262633;
  --color-font-white: #ffffff;

  /* Fonts */
  --font-regular: "AinoRegular", sans-serif;
  --font-title: "AinoHeadline", sans-serif;
  --font-bold: "AVGARDD", sans-serif;

  /* Section Sizes */
  --subPages-hight: 76vh;
  --pages-hight: 80vh;
  --nav-hight: 8vh;
}

/* Import Fonts */
@font-face {
  font-family: "AinoHeadline";
  src: url("../assets/fonts/Aino-Headline.otf") format("opentype");
}

@font-face {
  font-family: "AinoRegular";
  src: url("../assets/fonts/Aino-Regular.otf") format("opentype");
}

@font-face {
  font-family: "AVGARDD";
  src: url("../assets/fonts/AVGARDD_2.TTF") format("truetype");
}
