.holder-form-input {
  border: 1px solid var(--background-main4);
  font-family: var(--font-regular);
  border-radius: 4px;
  text-align: center;
  padding-left: 1rem;
  font-size: 1rem;
  height: 2.5rem;
  width: 15rem;
}

.holder-form-input:focus {
  outline: none;
}

.holder-form-input:disabled {
  background-color: var(--background-main2);
  border-radius: 0;
  border: none;
  border-bottom: 1px solid var(--background-main4);
}

.holder-form-label {
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  padding-left: 0.5rem;
  margin-top: 1rem;
  font-size: 1rem;
}
