.accounts-data-table {
  background-color: var(--background-main1);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 5px;
}

.MuiDataGrid-columnHeaderTitleContainer {
  justify-content: center;
}

.MuiDataGrid-cell .MuiDataGrid-cell--textLeft {
  justify-content: center;
  display: flex;
}

.MuiDataGrid-columnHeaderTitle {
  font-size: 1.2rem;
}

.MuiDataGrid-cell {
  font-size: 1.1rem;
}

@media screen and (max-width: 450px) {
  .accounts-data-table {
    margin-top: 10rem;
    height: 100%;
    width: 100%;
  }
}
